// Light theme variables
// $light-primary-color: #ffffff;
// $light-secondary-color: #f0f0f0;
// $light-text-color: #000000;
$light-main-background-color: #f4f4f4;
$light-section-background-color: #ffffff;
$light-primary-color: #383c93;
$light-secondary-color: #525252;
$light-border-color: #e0e0e0;
$light-button-primary-background-color: #383c93;
$light-button-primary-background-color-hover: #505398;
$light-dotted-border: 2px dotted #8d8d8d;
$light-header-background-in-modal:#e5e5e5;


$light-main-page-background-color: #f5f7f9;
$light-section-page-background-color: #ffffff;

// Dark theme variables
// $dark-primary-color: #1e1e1e;
// $dark-secondary-color: #2e2e2e;
// $dark-text-color: #ffffff;
$dark-main-background-color: #262626;
$dark-section-background-color: #161616;
$dark-border-color: #d5d5db26;
$dark-dotted-border: 2px dotted #8d8d8d36;
$dark-main-page-background-color: #181818;
$dark-section-page-background-color: #0d0d0d;
$dark-header-background-in-modal:#333333;
//border for table /button 
$dark-border-table-color: #5c5c5c;