@import "./_variables.scss";
[data-theme="dark"] {
  .custom-view {
    .list-container-security {
      background-color: $dark-section-background-color;
      border: 1px solid $dark-border-table-color;
      color: #f4f4f4;
    }
  }
}

.custom-view {
  @mixin block-item-list {
    overflow-y: scroll;
    padding-right: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding-right: 30px;
    padding-left: 10px;
    box-sizing: content-box;

    input {
      &::-webkit-input-placeholder {
        position: absolute;
        left: 20%;
      }
      &::-moz-placeholder {
        position: absolute;
        left: 20%;
      }

      &:-ms-input-placeholder {
        position: absolute;
        left: 20%;
      }

      &:-ms-input-placeholder {
        position: absolute;
        left: 20%;
      }

      &[type="number"] {
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          margin: 0;
        }
      }
    }
  }
  @mixin select-all-text {
    display: flex;
    cursor: pointer;
    text-decoration: underline;
    color: #000;
    font-family: "IBM Plex Sans";
    font-size: 13px;
    line-height: 18px;
    position: sticky;
    top: 0px;
    margin-bottom: 20px;
  }
  .customViewLabel {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    input {
      width: 100%;
      border: none;
      border-bottom: 1px solid #8d8d8d;
      height: 3.1rem;
      border-radius: 0;
      background-color: #fff;
      margin-top: 0.8rem;
    }
    .helperofhelper {
      width: 30%;
    }
  }

  @mixin list-container {
    width: 100%;
    background-color: white;
    padding: 20px;
    border: 1px solid #e0e0e0;
    overflow-x: hidden;
    .select-all {
      @include select-all-text;
      flex-direction: row-reverse;
    }

    .maximum-text {
      flex-direction: row;
      font-weight: 500;
    }

    .block-item-list {
      @include block-item-list;
      height: 35vh;
    }

    .block-item-list-security {
      height: 58vh;
    }
  }
  .list-container {
    overflow-y: scroll;
    @include list-container;
  }
  .list-container-security {
    @include list-container;
    overflow-y: hidden;
  }
  .search-box-customview {
    position: sticky;
    top: 70px;
    margin-bottom: 2%;
  }
}
.icons-block img {
  width: 1.5rem;
}