.medium-modal-inner-section {
  max-height: 90%;
  width: 100%;
  overflow: scroll;
  justify-items: center;
  display: grid;
  min-height: 90%;
  overflow-y: hidden;
}

@media (min-height: 640px) and (max-height: 800px) {
  .medium-modal-inner-section {
    min-height: 85%;
    max-height: 85%;
    overflow-y: hidden;
  }
}

@media (min-height: 800px) and (max-height: 950px) {
  .medium-modal-inner-section {
    min-height: 87%;
    max-height: 87%;
    overflow-y: hidden;
  }
}
