@import "./_variables.scss";


[data-theme="dark"] {
  
button.btn.pop-btnNeg {
  background: unset;

}
}

@function rem($px) {
  @return #{$px / 10}rem;
}

.portfolio-container-wrapper h3 {
  font-size: 1.2rem;
  color: $light-button-primary-background-color;
  padding-bottom: 10px;
  font-weight: 400;
}

.portfolio-container-wrapper h3 {
  font-size: 1.2rem;
  color: $light-button-primary-background-color;
  font-weight: 400;
  margin-top: -11px;
  background: rgb(245, 247, 249);
  width: 33%;
  padding-left: 10px;
}

.border-inline {
  border: 1px solid #8d8d8d;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.flex-block-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // height: 66vh;

  // @media (min-width: 2000px) {
  //   height: 50vh;
  // }
}

// datepickler css

.ag-root-wrapper .ag-cell-inline-editing {
  border: 1px solid black !important;
  border-color: #000000 !important;
}

.cds--date-picker.cds--date-picker--range {
  display: flex;
}

.cds--date-picker-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

label.cds--label {
  padding-right: 10px;
}

.cds--date-picker-container {
  padding-right: 1.9rem;
}

input#start-date,
input#end-date {
  // border: 1px solid #8d8d8d33;
  // height: 39px;
  // box-shadow: none;
  // width: 150px;
}

.portfolio-container-wrapper > div {
  flex: 1;
}

button.btn.pop-btn {
  min-width: 134px;
  text-align: center;
  height: 3.4rem;
  float: right;
  margin-top: 15px;
  background: $light-button-primary-background-color;
  color: #ffffff;
  cursor: pointer;
}

button.btn.pb {
  min-width: 2em;
  text-align: center;
  height: 3.4rem;
  float: right;
  margin-top: 15px;
  background: $light-button-primary-background-color;
  color: #ffffff;
  cursor: pointer;
}

.btn {
  &:focus {
    color: blue;
  }
}

button.btn.pop-btnNeg {
  min-width: 134px;
  text-align: center;
  min-height: rem(20);
  float: right;
  height: 3.4rem;
  margin-top: 15px;
  background: #ffffff;
  color: $light-button-primary-background-color;
  border: 2px solid $light-button-primary-background-color;
  cursor: pointer;
}
button.btn.pop-btnNeg-dark-mode {
  min-width: 134px;
  text-align: center;
  min-height: rem(20);
  float: right;
  height: 3.4rem;
  margin-top: 15px;
  // background: #ffffff;
  color: #f4f4f4;
  // border: 2px solid $light-button-primary-background-color;
  cursor: pointer;
}

.form-group.input-group .form-control {
  width: 60px;
  border: 1px solid #525252;
  padding: 5px;
}

.form-group.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restrictionsContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  height: auto;

  @media (min-width: 2000px) {
    height: 60vh;
  }
}


.pc-modal-heading {
  padding: 16px 24px !important;
}

@media (min-height: 640px) and (max-height: 800px) {
  .pc-modal-heading {
    padding: 0 24px !important;
  }
  .border-inline {
    padding: 0 0.5rem 1.5rem 0.5rem;
  }

  .portfolio-container-wrapper {
    padding-top: 0.5rem;
  }

  .portfolio-container-wrapper .form-group label {
    padding-bottom: 5px;
  }

  .helperofhelper {
    > div {
      height: 1.8rem;
      > div {
        height: 1.8rem;
      }
    }
  }
}

@media (min-height: 800px) and (max-height: 950px) {
  .pc-modal-heading {
    padding: 5px 24px !important;
  }

  .portfolio-container-wrapper {
    padding-top: 1rem;
  }

  .border-inline {
    padding: 0 1rem 1.5rem 1rem;
  }

  .portfolio-container-wrapper .form-group label {
    padding-bottom: 5px;
  }

  .helperofhelper {
    > div {
      height: 2.6rem;
    }
  }
}

.filter-row {
  padding: 0 3rem;
  font-size: 1.2rem !important;
}

.arrowHelper div#accordion-item-\:r48\: {
  padding: 0;
}