@import "./_variables.scss";

[data-theme="dark"] {
    .react-grid-item {
        background: unset;
    }
}
ul.list-view-wrapper li {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #8d8d8d;
    padding: 1rem 0 1rem 1rem;
    position: relative;
}

.list-view-container {
    padding: 1rem 0.8rem;
}

ul.list-view-wrapper li:last-child {
    border-bottom: 1px solid #8d8d8d;
}

pre.dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.tab-list-wrappwer .cds--tabs {
    justify-content: center;
}

.react-grid-item {
    background: #ffffff;
    z-index: 9;
    overflow: auto;
}
