@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.me{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    position: fixed;

    h3{
        font-family: 'Manrope';
        font-weight: 500;
        font-size: 1.5em;
        text-transform: capitalize;
    }

    .area{
        margin-right: auto;
        margin-left: auto;
        margin-top: 15%;
        width: 45%;
        display: block;

        .prompts{
            text-align: center;

            p{
                mix-blend-mode: color-dodge;
            }
        }

        .articles{
            width: 100%;
            height: 90%;
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
            border-radius: 10px;
            border: 1.2px solid rgba(255, 255, 255, 0.8);
            padding: 2em;

            a{
                margin: 3% 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                transition: all .2s ease-in-out;

                img{
                    border-radius: 7px;
                    width: 10%;
                }

                &:hover{
                    filter : drop-shadow(0px 0px 5px #000000);
                    color:#FCEEED;
                }
            }

        }

        .commands{
            display: flex;
            justify-content: space-between;

            button{
                padding: 5px;
            }
        }
    }

    @media screen  and (max-width: 415px) 
    and (max-width: 896px) 
    {
        .prompts{
            p{
                margin-left: 10% ;
            }
        }

        .typingModal{
            width: 80%;

            textarea{
                font-size: 22px;
            }
        }
    }
}